# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
dist/
/npm-debug.log

stuff
src/tileset/pokemon/*
src/tileset/pokemon_shiny/*
src/maps/region/*
